
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
aside{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #e5e5e5;
}
aside > div > .logo > img {
    height: 30pt;
    object-fit: cover;
    margin-bottom: 15px;
}
.aside-list > li{
    margin-block: 5px;
    padding-inline: 20px;
    padding-block: 15px;
    border-left: 4px solid white;
}
.aside-list > li:nth-child(1){
    border-color: #ffe100;
}
.aside-list-bottom {
    margin-top: 30dvh;
}
.aside-list-bottom > li{
    padding-inline: 20px;
    margin-block: 5px;
    padding-block: 8px;
    border-left: 4px solid white;
}
.msgfile-body{
    overflow-y: hidden;
}
nav{
    background: white;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #e5e5e5;
}
.logo > img{
    height: 30px;
    object-fit: cover;
}
main {
    margin-left: 0;
}

.profile-avatar > img{
    height: 40pt;
    object-fit: cover;
    border-radius: 50%;
}
.message-profile-container{
    border-bottom: 1px solid #e5e5e5;
}
.message-avatar > img{
    height: 40pt;
    object-fit: cover;
    border-radius: 50%;
}
.msg-user-container{
    margin-block: 15px;
    border: 0.1px solid rgba(0, 0, 0, 0.041);
}
.messenger-people{
    height: 60dvh;
    overflow-y: scroll;
}
.messenger-people::-webkit-scrollbar{
    background: #e5e5e5;
    width: 5px;
    border-radius: 50pt;
    margin-left: 10px;
}
.messenger-user-nav{
    margin-top: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding-block: 10px;
}
.message-search-inp{
    border: 0;
    outline : none;
    background: none;
}
.search-input{
    border-radius: 50pt;
    border: 0.1px solid rgba(0, 0, 0, 0.089);
}
.main-messenger-section{
    margin-top: 50px;
}

.response-message-child{
    border-radius: 0px 10px 10px 10px;
}

.request-message-child{
    border-radius: 0px 10px 0px 10px;
}
.request-message-avatar{
    margin-top: 70pt;
}
.convo-container{
    overflow-y: scroll;
    height: 70dvh;
}
.convo-container::-webkit-scrollbar{
    background: #e5e5e5;
    width: 5px;
    border-radius: 50pt;
    margin-left: 10px;
}

@media only screen and (max-width : 1024px) {
    .main-messenger-section{
        margin-top: 50px;
    }
    .msgfile-body{
        overflow-y: scroll;
    }
}